@import url('https://fonts.googleapis.com/css2?family=Source+Code+Pro&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Source Code Pro','Regular';
    color: #fff;
    text-decoration: none;
}

body{
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background: #0f0f0f;
}

.main a{
    align-items: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
}


.main>.title {
    font-size: 2vw;
    text-align: center;
    position: relative;
}
.main>.description{
    color: #9b9c9e;
    text-align:  center;
}

.main>.descriptionone{
    color: #e6e6e6;
    text-align: left;
    font-style: italic;
    font-weight: 400;
}


header{
    position: fixed;
    top:0;
    left:0;
    width: 100%;
    padding: 20px 50px;
    background: transparent;
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 99;
} 

.name {
    font-size: 3vw;
    color:white;
    user-select: none;
    background:  linear-gradient(90deg, 
    #FEAC5E,#C779D0,#4bc0c8);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.navigation a{
    position:relative;
    font-size: 1.5vw;
    color:white;
    text-decoration: none;
    font-weight: 100;
    margin-left:10px;
}


.navigation a::after{
    content: '';
    position: absolute;
    width: 100%;
    left:0;
    bottom: -5px;
    height:3px;
    background: white;
    border-radius: 5px;
    transform: scaleX(0);
    transition: transform .5s;

}

.navigation a:hover::after{
    transform: scaleX(1);
}